#sml_wrapper {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 1% 5px;
}

    .sml_card.sml_page .title {
        padding: 20px 20px 0px;
    }

    .sml_card.sml_page .content {
        padding: 20px;
    }

        .sml_card.sml_page .content p {
            line-height: 1.2em;
            padding-bottom: 15px;
        }

.sml_total {
    position: fixed;
    left: 0px;
    top: 20px;
    width: 100%;
    padding: 10px;
    background: #2b9bd2;
    z-index: 49;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    transition: all .4s ease-in-out;
}

    .sml_total.active {
        top: 67px;
    }

    .sml_total h4 {
        color: #fff;
        text-align: right;
        margin: auto;
        width: 100%;
        max-width: 1080px;
        padding-right: 10px;
    }

.lead_image {
    max-height: 300px;
}

    .lead_image img {
        height: auto;
        width: 100%;
    }

.getting_started {
    position: relative;
}

    .sml_card.getting_started .title, .sml_card.getting_started .content {
        padding: 20px 20px 0px;
    }

    .sml_card.getting_started .content {
        padding-bottom: 60px;
    }

    .getting_started .footer {
        position: absolute;
        bottom: 0;
    }

.sml_card {
    width: 100%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
    background: #fafbfc;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: all .3s ease-in-out;
}

    .sml_card.condensed {
        margin: 0;
    }

    .sml_card.expanded {
        margin: 5px 0;
    }

    .sml_card .title {
        padding: 10px;
    }

        .sml_card.toggle .title {
            cursor: pointer;
        }

            .sml_card.toggle .title h4 {
                position: relative;
            }

            .sml_card.toggle > .tap-target > .title h4::after, .sml_card.toggle > .tap-target > .title h4::before {
                content: ' ';
                position: absolute;
                top: 7px;
                right: -12px;
                display: block;
                height: 5px;
                width: 5px;
                border-left: solid 1px rgba(0, 0, 0, .7);
                border-bottom: solid 1px rgba(0, 0, 0, .7);
                transition: all .3s ease-in-out;
            }

                .sml_card.toggle > .tap-target > .title h4::before {
                    top: 10px;
                }

                .sml_card.toggle > .tap-target > .title h4::after {
                    top: 7px;
                }

                .sml_card.toggle .title h4::before {
                    transform: rotate(135deg);
                }

                .sml_card.toggle .title h4::after {
                    transform: rotate(-45deg);
                }

                    .sml_card.toggle.expanded .title h4::before {
                        opacity: 1;
                    }

                    .sml_card.toggle.condensed .title h4::before {
                        opacity: 0;
                    }

                    .sml_card.toggle.expanded .title h4::after {
                        opacity: 0;
                    }

                    .sml_card.toggle.condensed .title h4::after {
                        opacity: 1;
                    }

    .sml_card .content {
        padding: 0 10px 10px;
    }

    .sml_card .footer {
        width: 100%;
        background: rgba(0, 0, 0, .05);
        display: flex;
        flex-wrap: wrap;
        /*padding: 5px;*/
    }

        .sml_card .footer .action {
            margin: 5px;
            padding: 10px 15px;
            transition: background .2s ease-in-out;
            cursor: pointer;
            text-decoration: none;
        }

            .sml_card .footer .action:hover {
                background: rgba(0, 0, 0, .05);
                border-radius: 2px;
            }

        .sml_card.address .footer h4 {
            font-weight: 100;
            color: rgba(255, 255, 255, .8);
        }

        .sml_card .footer .react-datepicker__input-container {
            width: 100%;
            height: 100%;
        }

        .sml_card.origin .footer > div, .sml_card.destination .footer > div {
            width: 100%;
        }

    .sml_card .footer input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        font-size: 1em;
        outline: none;
        padding: 10px;
    }

        .sml_card .footer input:nth-child(n+2) {
            border-top: solid 1px rgba(0, 0, 0, .1);
        }

.sml_product .thumbnail {
    position: absolute;
    top: 0px;
    height: 100%;
    padding: 10px;
    transition: all .3s ease-in-out;
    z-index: -1;
}

    .sml_product .thumbnail img {
        transition: all .3s ease-in-out;
        height: 100%;
        width: auto;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 0;
        transform: translateX(0)
    }

    .sml_product.condensed .thumbnail {
        max-height: 50px;
    }

    .sml_product.expanded .thumbnail {
        max-height: 100px;
    }

        .sml_product.expanded .thumbnail img {
            top: 50px;
            right: 50%;
            transform: translateX(50%)
        }
.sml_product .description {
    padding: 10px;
    background: rgba(0, 0, 0, .05);
    transition: all .3s ease-in-out;
    box-sizing: border-box;
}

    .sml_product.condensed .description {
        margin-top: -15px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }

    .sml_product.expanded .description {
        margin-top: 100px;
        max-height: 500px;
        opacity: 1;
    }

.sml_product .footer {
}

    .sml_product .footer p {
        padding: 10px;
        align-self: center;
    }

        .sml_product .footer input {
            border: none;
            text-align: right;
        }

.sml_card.checkout h4 {
    text-align: center;
    width: 100%;
}

.sml_center p, .sml_center h1, .sml_center h2, .sml_center h3, .sml_center h4, .sml_center h5, .sml_center h6 {
    text-align: center !important;
    width: 100%;
}

.delivery_options .delivery_option {
    transition: max-height .3s ease-in-out;
}

    .delivery_options.expanded .delivery_option.deactive {
        max-height: 100px;
        overflow: hidden;
    }

    .delivery_options.condensed .delivery_option.deactive {
        max-height: 0px;
        overflow: hidden;
        border: none !important;
    }

    .delivery_options .delivery_option.active .delivery_option--price h4 {
        color: #fff;
    }

    .delivery_options .delivery_option .delivery_option--price {
        transition: all .2s ease-in-out;
    }